body {
    background-color:#f1f1f1;
}

#tfheader{
    background-color:#c3dfef;
}

#tfnewsearch{
    float:right;
    padding:5px;
    right: -10px;
}

.tftextinput{
    margin: 0;
    padding: 5px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    border:1px solid #0076a3; border-right:0px;
    border-top-left-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
}

.tfbutton {
    cursor: pointer;
    margin: 0;
    padding: 5px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    border: solid 1px #0076a3; border-right:0px;
    background: #0095cd;
    background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
    background: -moz-linear-gradient(top,  #00adee,  #0078a5);
    border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
}

.tfbutton:hover {
    text-decoration: none;
    background: #007ead;
    background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
    background: -moz-linear-gradient(top,  #0095cc,  #00678e);
}

/* Fixes submit button height problem in Firefox */
.tfbutton::-moz-focus-inner {
    border: 0;
}
.tfclear{
    clear:both;
}

#hospitals-list {
    max-height:460px;
    border:1px solid #ccc;
    font:16px/26px Georgia, Garamond, Serif;
    overflow:auto;
    min-height: 460px;
}

.hospital-detail td {
    padding: 10px;
}

.ratings td {
    padding: 10px;
}

.rating {
}

.ratings-table {
}

.compare-table th, td {
    padding: 10px;
}

.submitbutton {
    width: 256px;
    background: #007ead;
    background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
    background: -moz-linear-gradient(top,  #0095cc,  #00678e);ound-color: #008EC3;
    color: #ffffff;

}
.copyright {
    font-size: 7pt;
    text-align: right;
}

.container {
    margin-top: 10px;
}

.safety-1 {
    color: red;
}

.safety-2 {
    color: #CC9900;
}

.safety-3 {
    color: green;
}

.hospital-list-item {
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
    color 
}

.reviews {
    overflow: auto;
    max-height: 500px;
    border: 2px solid #CCC;
}

#map-canvas {
        border:1px solid #ccc;

}

#topsection {
    background: -webkit-linear-gradient(left, #1e5799 0%,#2b28fc 0%,#2989d8 15%,#7db9e8 100%);
    width: 1149px;
    height: 110px;
    border-radius: 10px;
    position: relative;
    right: -14px;
}

#main {
    background: -webkit-linear-gradient(top, #7db9e8 0%,#2b28fc 50%,#2b28fc 50%,#7db9e8 100%);
    width: 100%;
    height: 520px;
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 20px;
}

.image {
    padding-top: 2px;
}
    
