{% extends "templates/base.html" %}

{% block head %}
  <script src="/static/js/d3.v3.min.js" charset="utf-8"></script>
  <script type="text/javascript" src="/static/js/bars.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
        create_barchart_horiz(100, 20, 20);
    });
  </script>
{% endblock %}

{% block title %}Comparison{% endblock %}

{% block subtitle %}<h3>Comparison</h3>{% endblock %}

{% block content %}
  <table class="compare-table">
    <tr>
      <th>Hospital</th>
      {% for header in headers %}
        <th>{{ header }}</th>
      {% endfor %}

      {% for place in places %}
        <tr>
          <td><a href="/place/{{ place.id}}">{{ place.name }}</a></td>
          <td class="rating" id="c-rat-{{place.id}}">{{ place.cleanliness }}</td>
          <td class="rating" id="s-rat-{{place.id}}">{{ place.staff_worked_well }}</td>
          <td class="rating" id="d-rat-{{place.id}}">{{ place.dignity_respect }}</td>
          <td class="rating" id="i-rat-{{place.id}}">{{ place.involved_with_decision }}</td>
          <td>
            {% if place.number_of_services %}
              {{ place.number_of_services }}
            {% else %}
              No data available
            {% endif %}
          </td>
          {% if place.infection_control %}
            <td class="safety-{{ place.infection_control }}">
              {{ place.infection_control }}</td>
          {% else %}
            <td>No data available</td>
          {% endif %}

          {% if place.blood_clots %}
            <td class="safety-{{ place.blood_clots }}">
              {{ place.blood_clots }}</td>
          {% else %}
            <td>No data available</td>
          {% endif %}

          {% if place.recommended_by_staff %}
            <td class="safety-{{ place.recommended_by_staff }}">
              {{ place.recommended_by_staff }}</td>
          {% else %}
            <td>No data available</td>
          {% endif %}

          {% if place.safe_staffing %}
            <td>{{ place.safe_staffing }}%</td>
          {% else %}
            <td>No data available</td>
          {% endif %}

          {% if place.service_waiting_time_weeks %}
            <td>{{ place.service_waiting_time_weeks }}</td>
          {% else %}
            <td>No data available</td>
          {% endif %}

          {% if place.time_to_treatment_minutes %}
            <td>{{ place.time_to_treatment_minutes }}</td>
          {% else %}
            <td>No data available</td>
          {% endif %}

          {% if place.emergency_assesment_time %}
            <td>{{ place.emergency_assesment_time }}</td>
          {% else %}
            <td>No data available</td>
          {% endif %}

          {% if place.total_time_in_ae  %}
            <td>{{ place.total_time_in_ae }}</td>
          {% else %}
            <td>No data available</td>
          {% endif %}
        </tr>
      {% endfor %}
    </tr>
  </table>
{% endblock %}
