{% extends "templates/base.html" %}

{% block head %}
  <script src="/static/js/d3.v3.min.js" charset="utf-8"></script>
  <script type="text/javascript" src="/static/js/bars.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      create_bar("cleanliness", {{ cleanliness }});
      create_bar("staff", {{ staff_worked_well }});
      create_bar("respect", {{ dignity_respect }});
      create_bar("decisions", {{ involved_with_decision }});
    });
  </script>
{% endblock %}

{% block title %}{{ name }}{% endblock %}

{% block subtitle %}<h3>Extra information</h3>{% endblock %}

{% block content %}
  <h1>{{ name }}</h1>
  <table class="hospital-detail">
    {% if telephone %}
      <tr><td>Telephone</td><td>{{ telephone}}</td></tr>
    {% endif %}
    <tr>
      <td>Address</td>
      <td>
        {% if street %}
          {{ street }}<br/>
        {% endif %}
        {% if locality %}
          {{ locality }}<br/>
        {% endif %}
        {% if region %}
          {{ region }}<br/>
        {% endif %}
        {% if postcode %}
          {{ postcode }}<br/>
        {% endif %}
      </td>
    </tr>
    <tr><td>Directions</td><td><a href="https://www.google.com/maps/preview?daddr={{ postcode }}">Direct me!</a></tr>
  </table>
  <h3>Average Patient Ratings</h3>
  <table class="ratings-table">
    <tr><td>Cleanliness</td>
      <td id="cleanliness"></td>
    </tr>
    <tr><td>Staff worked well</td>
      <td id="staff"></td>
    </tr>
    <tr><td>Dignity and respect</td>
      <td id="respect"></td>
    </tr>
    <tr><td>Involved with decisions</td>
      <td id="decisions"></td>
    </tr>
  </table>
  {% if any infection_control blood_clots recommended_by_staff%}
    <h3>Patient safety</h3>
    <table>
      <tr><td>Infection control</td>
        <td class="safety-{{ infection_control }}">{{ infection_control }}</td>
      </tr>
      <tr><td>Checking for blood clots</td>
        <td class="safety-{{ blood_clots }}">{{ blood_clots }}</td>
      </tr>
      <tr><td>Staff rating</td>
        <td class="safety-{{ recommended_by_staff }}">{{ recommended_by_staff }}</td>
      </tr>
      <tr><td>Percentage of safe staffing rate</td>
        <td>{{ safe_staffing }}%</td>
      </tr>
  </table>
  {% endif %}
  {% if any service_waiting_time_weeks emergency_assesment_time time_to_treatment_minutes total_time_in_ae %}
    <h3>Average times</h3>
    <table>
      <tr><td>Time waiting for services</td>
        <td>{% if service_waiting_time_weeks %}
              {{ service_waiting_time_weeks  }}
               weeks
            {% else %}
               No data available
            {% endif %}</td>
      </tr>
      <tr><td>Time taken to be assessed in an emergency</td>
        <td>{% if emergency_assesment_time  %}
              {{ emergency_assesment_time }} minutes
            {% else %}
              No data available
            {% endif %}</td>
      </tr>
      <tr><td>Time taken to be treated</td>
        <td>{% if time_to_treatment_minutes %}
              {{ time_to_treatment_minutes }} minutes
            {% else %}
              No data available
            {% endif %}</td>
      </tr>
      <tr><td>Total time in A+E</td>
        <td>{% if total_time_in_ae %}
              {{ total_time_in_ae }} minutes
            {% else %}
              No data available
            {% endif %}</td>
      </tr>
    </table>
  {% endif %}
  {% if service %}
    <h3>Services</h3>
    <ul>
      {% for serv in service %}
        {% if serv.value %}
          <li>{{ serv.name }}</li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
  {% if review %}
    <h3>Reviews</h3>
    <div class="reviews">
      {% for rev in review %}
        <h4>{{ rev.title }}</h4>
        <table>
          <tr><td>Liked</td><td>{{ rev.liked }}</td></tr>
          <tr><td>Disliked</td><td>{{ rev.disliked }}</td></tr>
          <tr><td>Advice</td><td>{{ rev.advice }}</td></tr>
        </table>
        <hr/>
      {% endfor %}
    </div>
  {% endif %}
  <a href="#top">Back to top</a>
{% endblock %}
