{% extends "base.html" %}

{% block head %}
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script type="text/javascript" src="/static/js/bars.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
        create_barchart();
    });
  </script>
{% endblock %}

{% block content %}
  <table class="compare-tables">
    <tr>
      <th></th>
      {% for name in rows.names %}
        <th>{{ name }}</td>
      {% endfor %}
    </tr>
    <tr>
      <td></td>
      {% for info in rows.info %}
        <td>
          {% if info.tel %}
            {{ info.tel }}<br/>
          {% endif %}
          {% if info.street %}
            {{ info.street }}<br/>
          {% endif %}
        </td>
      {% endfor %}
    </tr>
    <tr>
      <td>Cleanliness</td>
      {% for place in rows.cleanliness %}
        {% if place.cleanliness > 0 %}
          <td class="rating" id="c-place-{{place.id}}">{{ place.cleanliness }}</td>
        {% else %}
          <td></td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <td>Staff worked well</td>
      {% for place in rows.staff %}
        {% if place.staff > 0 %}
          <td class="rating" id="s-place-{{place.id}}">{{ place.staff }}</td>
        {% else %}
          <td></td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <td>Dignity and respect</td>
      {% for place in rows.dignity %}
        {% if place.dignity > 0 %}
          <td class="rating" id="d-place-{{place.id}}">{{ place.dignity }}</td>
        {% else %}
          <td></td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <td>Involved with decisions</td>
      {% for place in rows.involved %}
        {% if place.involved > 0 %}
          <td class="rating" id="i-place-{{place.id}}">{{ place.involved }}</td>
        {% else %}
          <td></td>
        {% endif %}
      {% endfor %}
    </tr>
  </table>
{% endblock %}
