{% extends "base.html" %}

{% block head %}
  <script src="/static/js/d3.v3.min.js" charset="utf-8"></script>
  <script type="text/javascript" src="/static/js/bars.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
        create_barchart_horiz(100, 20, 20, 2, 4);
    });
  </script>
{% endblock %}

{% block title %}Comparison{% endblock %}

{% block subtitle %}<h3>Comparison</h3>{% endblock %}

{% block content %}
  <table class="compare-table">
    <tr>
      <th>Hospital</th>
      {% for header in headers %}
        <th>{{ header }}</th>
      {% endfor %}

      {% for place in rows %}
        <tr>
          <td><a href="/place/{{ place.id}}">{{ place.name }}</a></td>
          <td class="rating" id="c-rat-{{place.id}}">{{ place.cleanliness }}</td>
          <td class="rating" id="s-rat-{{place.id}}">{{ place.staff }}</td>
          <td class="rating" id="d-rat-{{place.id}}">{{ place.dignity }}</td>
          <td class="rating" id="i-rat-{{place.id}}">{{ place.involved }}</td>
          <td>
            {% if place.number_of_services %}
              {{ place.number_of_services }}
            {% else %}
              No data
            {% endif %}
          </td>
          {% if place.safety.infection_control %}
            <td class="safety-{{ place.safety.infection_control }}">
              {{ place.safety.infection_control | integer_to_rating }}</td>
          {% else %}
            <td>No data available</td>
          {% endif %}

          {% if place.safety.blood_clots %}
            <td class="safety-{{ place.safety.blood_clots }}">
              {{ place.safety.blood_clots | integer_to_rating }}</td>
          {% else %}
            <td>No data available</td>
          {% endif %}

          {% if place.safety.recommended_by_staff %}
            <td class="safety-{{ place.safety.recommended_by_staff }}">
              {{ place.safety.recommended_by_staff | integer_to_rating }}</td>
          {% else %}
            <td>No data available</td>
          {% endif %}

          {% if place.safety.safe_staffing %}
            <td>{{ place.safety.safe_staffing }}%</td>
          {% else %}
            <td>No data available</td>
          {% endif %}
        </tr>
      {% endfor %}
    </tr>
  </table>
{% endblock %}
