{% extends "base.html" %}
{% block head %}
  <style>
    #map-canvas { height: 500px; width: 850px; display: block; }
  </style>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNfQpxpOMsdfqIIKWBy2TU1dXJSD894SE"></script>
  <script type="text/javascript" src="/static/js/map_and_list.js" /></script>
{% endblock %}

{% block title %}Search{% endblock %}

{% block subtitle %}
  <h3>Comparing care made simple</h3>
{% endblock %}

{% block content %}
<div class="row">
  <div id="tfheader">
    <div id="tfnewsearch" class="col-md-12">
        <input id="search" type="text" class="col-md-11 tftextinput" name="q" maxlength="240" placeholder="Please enter a location or a hospital"><input type="submit" value="Search" class="tfbutton" id="search-btn">
    </div>
  </div>
</div>

<div class="row clearfix">
  <div id="errors"></div>
</div>
<div id="main">
<div class="row clearfix">
  <div class="col-md-3 column">
    <form id="compare-form" action="/compare" method="post">
        <div id="hospitals-list" class="" style="background: #f1f1f1"> </div>
        <button class="btn btn-default navbar-btn submitbutton">
          Compare
        </button>
    </form>
  </div>

  <div id="map-canvas" class="col-md-9 column" style="padding-right: 4px">
  </div>
</div>
</div>
{% endblock %}
