<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <title>Hospital thing - TODO: Give a name</title></head>
    <style>
      #map-canvas { height: 500px; width: 500px }
    </style>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNfQpxpOMsdfqIIKWBy2TU1dXJSD894SE"></script>
    <script type="text/javascript" src="/static/js/map.js" /></script>
  </head>
  <body>
    <div id="map-canvas"></div>
  </body>
</html>
