{% extends "base.html" %}
{% block content %}
  <h1>{{ place.name }}</h1>
  <table class="hospital-detail">
    {% if place.telephone %}
      <tr><td>Telephone</td><td>{{ place.telephone}}</td></tr>
    {% endif %}
    <tr>
      <td>Address</td>
      <td>
        {% if place.street %}
          {{ place.street }}<br/>
        {% endif %}
        {% if place.locality %}
          {{ place.locality }}<br/>
        {% endif %}
        {% if place.region %}
          {{ place.region }}<br/>
        {% endif %}
        {% if place.postcode %}
          {{ place.postcode }}<br/>
        {% endif %}
      </td>
    </tr>
    <tr><td>Directions</td><td><a href="https://www.google.com/maps/preview?daddr={{ place.postcode }}">Direct me!</a></tr>
  </table>
{% endblock %}
