{% extends "base.html" %}

{% block head %}
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script type="text/javascript" src="/static/js/bars.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      create_bar("cleanliness", {{ rating.cleanliness }});
      create_bar("staff", {{ rating.staff_worked_well }});
      create_bar("respect", {{ rating.dignity_respect }});
      create_bar("decisions", {{ rating.involved_with_decision }});
    });
  </script>
{% endblock %}

{% block title %}{{ place.name }}{% endblock %}
 
{% block subtitle %}<h3>Extra information</h3>{% endblock %}

{% block content %}
  <h1>{{ place.name }}</h1>
  <table class="hospital-detail">
    {% if place.telephone %}
      <tr><td>Telephone</td><td>{{ place.telephone}}</td></tr>
    {% endif %}
    <tr>
      <td>Address</td>
      <td>
        {% if place.street %}
          {{ place.street }}<br/>
        {% endif %}
        {% if place.locality %}
          {{ place.locality }}<br/>
        {% endif %}
        {% if place.region %}
          {{ place.region }}<br/>
        {% endif %}
        {% if place.postcode %}
          {{ place.postcode }}<br/>
        {% endif %}
      </td>
    </tr>
    <tr><td>Directions</td><td><a href="https://www.google.com/maps/preview?daddr={{ place.postcode }}">Direct me!</a></tr>
  </table>
  <h3>Average Patient Ratings</h3>
  <table class="ratings-table">
    <tr><td>Cleanliness</td>
      <td id="cleanliness"></td>
    </tr>
    <tr><td>Staff worked well</td>
      <td id="staff"></td>
    </tr>
    <tr><td>Dignity and respect</td>
      <td id="respect"></td>
    </tr>
    <tr><td>Involved with decisions</td>
      <td id="decisions"></td>
    </tr>
  </table>
  {% if safety %}
    <h3>Patient safety</h3>
    <table>
      <tr><td>Infection control</td>
        <td class="safety-{{ safety.infection_control }}">{{ safety.infection_control | integer_to_rating }}</td>
      </tr>
      <tr><td>Checking for blood clots</td>
        <td class="safety-{{ safety.blood_clots }}">{{ safety.blood_clots | integer_to_rating }}</td>
      </tr>
      <tr><td>Staff rating</td>
        <td class="safety-{{ safety.recommended_by_staff }}">{{ safety.recommended_by_staff | integer_to_rating }}</td>
      </tr>
      <tr><td>Percentage of safe staffing rate</td>
        <td>{{ safety.safe_staffing }}%</td>
      </tr>
  </table>
  {% endif %}
  <h3>Services</h3>
  <ul>
    {% for service in services.services %}
      {% if service.value %}
        <li>{{ service.name }}</li>
      {% endif %}
    {% endfor %}
  </ul>
{% endblock %}
